<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_mine">

    <application>
        <activity
            android:name="com.cc.module.mine.activity.MineActivity"
            android:exported="true"/>
    </application>

</manifest>