<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cc.module.test">

    <application>
        <activity
            android:name=".activity.MyRvActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewPager2FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewPager2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestLifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SkillViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RxJava2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.SQLiteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RxJavaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestModuleActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SaveActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EventBusActivity"
            android:exported="false" />
    </application>

</manifest>