<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cc.module.test">

    <application>
        <!-- 懒加载布局 -->
        <activity
            android:name=".activity.ViewStubActivity"
            android:exported="false" />
        <!-- 标准Rv -->
        <activity
            android:name=".activity.MyRvActivity"
            android:exported="false" />
        <!-- vp+FragmentStatePagerAdapter -->
        <activity
            android:name=".activity.ViewPagerActivity"
            android:exported="false" />
        <!-- vp2+FragmentStateAdapter -->
        <activity
            android:name=".activity.ViewPager2FragmentActivity"
            android:exported="false" />
        <!-- vp2+rvAdapter -->
        <activity
            android:name=".activity.ViewPager2Activity"
            android:exported="false" />
        <!-- dataBinding 赋值方式 -->
        <activity
            android:name=".activity.DataBindingActivity"
            android:exported="false" />
        <!-- 手写Glide -->
        <activity
            android:name=".activity.TestLifecycleActivity"
            android:exported="false" />
        <!-- 自定义View -->
        <activity
            android:name=".activity.SkillViewActivity"
            android:exported="false" />
        <!-- RxJava -->
        <activity
            android:name=".activity.RxJava2Activity"
            android:exported="false" />
        <!-- sql -->
        <activity
            android:name=".activity.SQLiteActivity"
            android:exported="false" />
        <!-- RxJava -->
        <activity
            android:name=".activity.RxJavaActivity"
            android:exported="false" />
        <!-- Test 首页 -->
        <activity
            android:name=".activity.TestModuleActivity"
            android:exported="true" />
        <!-- 保存文件 -->
        <activity
            android:name=".activity.SaveActivity"
            android:exported="false" />
        <!-- eventBus -->
        <activity
            android:name=".activity.EventBusActivity"
            android:exported="false" />
        <!-- WebView优化 -->
        <activity
            android:name=".activity.WebViewProcessActivity"
            android:exported="true" />
    </application>

</manifest>